
.wrapper {
  background: linear-gradient(
    179.7deg,
    rgb(248, 126, 126) -0.5%,
    rgb(251, 206, 143) 35.3%,
    rgb(184, 252, 233) 67.2%,
    rgb(118, 162, 229) 92.3%
  );
  margin-top: 15px;
  margin-bottom: 10px;
  padding: 20px;
  border-radius: 20px;
  margin-left: 300px;
  margin-right: 300px;
}

.search {
  border-radius: 20px;
  border: none;
  padding: 15px;
  background-color: #76a2e5;
  text-align: center;
  display: block;
  font-family: "Michroma", sans-serif;
  text-transform: uppercase;
  width: 80%;
}
::placeholder {
  color: black;
}

.submit {
  width: 60%;
  border-radius: 20px;
  border: none;
  padding: 15px;
  background-color: #c1f6dd;
  font-family: "Michroma", sans-serif;
  text-transform: uppercase;
  color: black;
}
.divider-line-1 {
  height: 30px;
}
.city-name {
  font-family: "Orbitron", sans-serif;
  font-size: 50px;
}
.day-time {
  font-family: "Orbitron", sans-serif;
  font-size: 25px;
  margin-bottom: 15px;
}

.flex-container {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}
.temperature {
  font-family: "Orbitron", sans-serif;
  font-size: 60px;
}

.image {
  position: relative;
  bottom: 20px;
}
.looks-like {
  font-family: "Orbitron", sans-serif;
  font-size: 20px;
  text-transform: uppercase;
  position: relative;
  bottom: 45px;
}
.weatherDetails {
  font-family: "Orbitron", sans-serif;
  font-size: 20px;
  text-align: center;
  text-transform: uppercase;
}
.weather-forecast {
  margin-top: 70px;
  text-align: center;
  margin-bottom: 20px;
}
.forecast-container {
  border: 1px black solid;
  padding: 10px;
  background-color: #C1F5DC;
  border-radius: 25px;
}
.weather-forecast-date {
  font-size: 16px;
  color: black;
  font-family: "Orbitron", sans-serif;
}
.weather-forecast-temperature {
  font-size: 9px;
  color: black;
  font-family: "Orbitron", sans-serif;
}
@media only screen and (max-width: 600px) {
  container {
    display: flex;
    margin: 20px;
    padding-left: 0 !important;
    padding-right: 0 !important;
  }
  .weather-forecast-date {
    font-size: 12px;
    color: black;
    font-family: "Orbitron", sans-serif;
  }
  
  .weather-forecast-temperature {
    font-size: 8px;
    color: black;
    font-family: "Orbitron", sans-serif;
    margin-top: 20px;
  }
  .forecast-image {
    width: 15px;
  }
}
@media only screen and (max-width: 1100px) {
  .weather-forecast-date {
    font-size: 10px;
    color: black;
    font-family: "Orbitron", sans-serif;
  }
  .forecast-image {
    width: 20px;
  }
  .weather-forecast-temperature {
    font-size: 8px;
    color: black;
    font-family: "Orbitron", sans-serif;
    margin-top: 7px;
  }
}
@media only screen and (max-width: 1000px) {
  .wrapper {
  margin-left: 0px;
  margin-right: 0px;
  margin-top: 15px;
  margin-bottom: 10px;
}
}