.container {
  margin-right: 100px;
  margin-left: 100px;
}
.wrapper {
  background: linear-gradient(
    179.7deg,
    rgb(248, 126, 126) -0.5%,
    rgb(251, 206, 143) 35.3%,
    rgb(184, 252, 233) 67.2%,
    rgb(118, 162, 229) 92.3%
  );
  margin-top: 15px;
  margin-bottom: 5px;
  padding: 20px;
  border-radius: 20px;
}

.search {
  border-radius: 20px;
  border: none;
  padding: 15px;
  background-color: #76a2e5;
  text-align: center;
  display: block;
  font-family: "Michroma", sans-serif;
  text-transform: uppercase;
  width: 100%;
}
::placeholder {
  color: black;
}

.submit {
  width: 100%;
  border-radius: 20px;
  border: none;
  padding: 15px;
  background-color: #c1f6dd;
  font-family: "Michroma", sans-serif;
  text-transform: uppercase;
  color: black;
}
.divider-line-1 {
  height: 30px;
}
.city-name {
  font-family: "Orbitron", sans-serif;
  font-size: 80px;
}
.day-time {
  font-family: "Orbitron", sans-serif;
  font-size: 25px;
  margin-bottom: 15px;
}

.flex-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.temperature {
  font-family: "Orbitron", sans-serif;
  font-size: 60px;
}

a:link {
  text-decoration: none;
  position: relative;
  bottom: 40px;
}
.image {
  position: relative;
  bottom: 35px;
}
.looks-like {
  font-family: "Orbitron", sans-serif;
  font-size: 20px;
  text-transform: uppercase;
  position: relative;
  bottom: 50px;
}
.weatherDetails {
  font-family: "Orbitron", sans-serif;
  font-size: 20px;
  text-align: center;
  text-transform: uppercase;
}
@media only screen and (max-width: 600px) {
  container {
    display: flex;
    margin: 20px;
    padding-left: 0 !important;
    padding-right: 0 !important;
  }
}
